<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Knowledge Universe</title>
        <link  rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    </head>

    <body>
        <header>
            <h1>Wellcome To The Knowledge Universe</h1>
        </header>
            <nav>
                <div id="nav-bar">
                    <ul>
                        <li><a href="#home"> Home </a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#fields">Fields</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </nav>
        <main>
            <section>
                <p>Yet to come</p>
            </section>
        </main>

        <footer>
            <ul>
                <li>yet to come</li>
                <li>yet to come</li>
                <li>yet to come</li>
                <li>yet to come</li>
            </ul>
        </footer>
    </body>
</html>