<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Knowledge Universe</title>
        <link rel="stylesheet" href="index.css">
    </head>

    <body>
        <header>
            <h1>Wellcome To The Knowledge Universe</h1>
        </header>
        <nav>
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Fields</li>
                <li>Contact</li>
            </ul>
        </nav>
        <main>
            <section>
                <p>Yet to come</p>
            </section>
        </main>

        <footer>
            <ul>
                <li></li>
            </ul>
        </footer>
    </body>
</html>